<html>
  <body>
    <h1>Hello!</h1>
    <form action='/multipass' method='post'>
      first name: <input type='text' name='firstName'>
      </br> 
      last name: <input type='text' name='lastName'>
      </br> 
      email:<input type='text' name='email'>
      <input type="submit">
    </form>
  </body>
</html>